{:paths ["src"]

 :deps {org.clojure/clojure          {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.584"}
        org.clojure/tools.namespace  {:mvn/version "0.3.1"}
        clj-jgit                     {:mvn/version "1.0.0-beta3"}
        com.cognitect/anomalies      {:mvn/version "0.1.12"}
        medley                       {:mvn/version "1.3.0"}
        potemkin                     {:mvn/version "0.4.5"}

        nio               {:local/root "/Users/jeremyschoffen/Documents/dev/clojure/clj-nio"}}

 :aliases
 {:build {:extra-paths ["bin"]}

  :dev {:extra-paths ["dev"]}

  :perf {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps {metosin/testit {:mvn/version "0.4.0"}
                      expound {:mvn/version "0.8.1"}
                      orchestra {:mvn/version "2019.02.06-1"}
                      pjstadig/humane-test-output {:mvn/version "0.9.0"}
                      lambdaisland/kaocha {:mvn/version "0.0-541"}
                      org.clojure/test.check {:mvn/version "0.10.0"}}}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}}}


  :logger {:extra-paths ["logging"]
           :extra-deps {org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version"2.12.1"}
                        org.apache.logging.log4j/log4j-core {:mvn/version "2.12.1"}}}}}




